@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 27 8% 33%;
    --card: 60 50% 95%;
    --card-foreground: 27 8% 33%;
    --popover: 60 50% 95%;
    --popover-foreground: 27 8% 33%;
    --primary: 125 27% 70%;
    --primary-foreground: 27 8% 15%;
    --secondary: 60 30% 88%;
    --secondary-foreground: 27 8% 33%;
    --muted: 60 30% 88%;
    --muted-foreground: 27 8% 45%;
    --accent: 0 100% 85%;
    --accent-foreground: 27 8% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 85%;
    --input: 60 20% 88%;
    --ring: 125 27% 70%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 27 8% 10%;
    --foreground: 60 30% 85%;
    --card: 27 8% 12%;
    --card-foreground: 60 30% 85%;
    --popover: 27 8% 12%;
    --popover-foreground: 60 30% 85%;
    --primary: 125 27% 70%;
    --primary-foreground: 27 8% 10%;
    --secondary: 27 8% 18%;
    --secondary-foreground: 60 30% 85%;
    --muted: 27 8% 18%;
    --muted-foreground: 60 30% 75%;
    --accent: 0 100% 85%;
    --accent-foreground: 27 8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 8% 20%;
    --input: 27 8% 20%;
    --ring: 125 27% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
